<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Investigator.styles.css"]" />
    <link rel="icon" type="image/png" href="@Assets["little-bear.png"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <ErrorBoundary>
        <ChildContent>
            <Routes @rendermode="InteractiveServer" />
        </ChildContent>
        <ErrorContent>
            <div class="error-boundary">
                <p>Something went wrong.</p>
                <button onclick="location.reload()">Reload</button>
            </div>
        </ErrorContent>
    </ErrorBoundary>
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["app.js"]"></script>
</body>

</html>
